:root {
  /* --- COLORS --- */
  --colors-text-base: hsl(222.2, 47.4%, 11.2%);
  --colors-text-accent: hsl(210, 40%, 98%);
  --colors-primary-50: hsl(192.63, 69.72%, 95%);
  --colors-primary-100: hsl(192.63, 69.72%, 90%);
  --colors-primary-200: hsl(192.63, 69.72%, 80%);
  --colors-primary-300: hsl(192.63, 69.72%, 70%);
  --colors-primary-400: hsl(192.63, 69.72%, 55%);
  --colors-primary-600: hsl(192.63, 69.72%, 35%);
  --colors-primary-700: hsl(192.63, 69.72%, 25%);
  --colors-primary-800: hsl(192.63, 69.72%, 15%);
  --colors-primary-900: hsl(192.63, 69.72%, 10%);
  --colors-primary: hsl(192.63, 69.72%, 42.75%);
  --colors-secondary-50: hsl(210, 40%, 98%);
  --colors-secondary-100: hsl(210, 40%, 96.1%);
  --colors-secondary-200: hsl(210, 40%, 90%);
  --colors-secondary-300: hsl(210, 40%, 80%);
  --colors-secondary-400: hsl(210, 40%, 70%);
  --colors-secondary-600: hsl(210, 40%, 60%);
  --colors-secondary-700: hsl(210, 40%, 40%);
  --colors-secondary-800: hsl(210, 40%, 20%);
  --colors-secondary-900: hsl(210, 40%, 10%);
  --colors-secondary: hsl(210, 40%, 96.1%);
  --colors-success-50: hsl(142.1, 76.2%, 95%);
  --colors-success-100: hsl(142.1, 76.2%, 90%);
  --colors-success-200: hsl(142.1, 76.2%, 80%);
  --colors-success-300: hsl(142.1, 76.2%, 65%);
  --colors-success-400: hsl(142.1, 76.2%, 50%);
  --colors-success-600: hsl(142.1, 76.2%, 30%);
  --colors-success-700: hsl(142.1, 76.2%, 25%);
  --colors-success-800: hsl(142.1, 76.2%, 15%);
  --colors-success-900: hsl(142.1, 76.2%, 10%);
  --colors-success: hsl(142.1, 76.2%, 36.3%);
  --colors-danger-50: hsl(0, 84.2%, 95%);
  --colors-danger-100: hsl(0, 84.2%, 90%);
  --colors-danger-200: hsl(0, 84.2%, 80%);
  --colors-danger-300: hsl(0, 84.2%, 70%);
  --colors-danger-400: hsl(0, 84.2%, 65%);
  --colors-danger-600: hsl(0, 84.2%, 50%);
  --colors-danger-700: hsl(0, 84.2%, 40%);
  --colors-danger-800: hsl(0, 84.2%, 25%);
  --colors-danger-900: hsl(0, 84.2%, 15%);
  --colors-danger: hsl(0, 84.2%, 60.2%);
  --colors-warning-50: hsl(47.9, 95.8%, 95%);
  --colors-warning-100: hsl(47.9, 95.8%, 90%);
  --colors-warning-200: hsl(47.9, 95.8%, 80%);
  --colors-warning-300: hsl(47.9, 95.8%, 70%);
  --colors-warning-400: hsl(47.9, 95.8%, 60%);
  --colors-warning-600: hsl(47.9, 95.8%, 45%);
  --colors-warning-700: hsl(47.9, 95.8%, 35%);
  --colors-warning-800: hsl(47.9, 95.8%, 25%);
  --colors-warning-900: hsl(47.9, 95.8%, 15%);
  --colors-warning: hsl(47.9, 95.8%, 53.1%);
  --colors-slate-50: #f8fafc;
  --colors-slate-100: #f1f5f9;
  --colors-slate-200: #e2e8f0;
  --colors-slate-300: #cbd5e1;
  --colors-slate-400: #94a3b8;
  --colors-slate-500: #64748b;
  --colors-slate-600: #475569;
  --colors-slate-700: #334155;
  --colors-slate-800: #1e293b;
  --colors-slate-900: #0f172a;
  --colors-slate-950: #020617;
  --colors-gray-50: #f9fafb;
  --colors-gray-100: #f3f4f6;
  --colors-gray-200: #e5e7eb;
  --colors-gray-300: #d1d5db;
  --colors-gray-400: #9ca3af;
  --colors-gray-500: #6b7280;
  --colors-gray-600: #4b5563;
  --colors-gray-700: #374151;
  --colors-gray-800: #1f2937;
  --colors-gray-900: #111827;
  --colors-gray-950: #030712;
  --colors-zinc-50: #fafafa;
  --colors-zinc-100: #f4f4f5;
  --colors-zinc-200: #e4e4e7;
  --colors-zinc-300: #d4d4d8;
  --colors-zinc-400: #a1a1aa;
  --colors-zinc-500: #71717a;
  --colors-zinc-600: #52525b;
  --colors-zinc-700: #3f3f46;
  --colors-zinc-800: #27272a;
  --colors-zinc-900: #18181b;
  --colors-zinc-950: #09090b;
  --colors-neutral-50: #fafafa;
  --colors-neutral-100: #f5f5f5;
  --colors-neutral-200: #e5e5e5;
  --colors-neutral-300: #d4d4d4;
  --colors-neutral-400: #a3a3a3;
  --colors-neutral-500: #737373;
  --colors-neutral-600: #525252;
  --colors-neutral-700: #404040;
  --colors-neutral-800: #262626;
  --colors-neutral-900: #171717;
  --colors-neutral-950: #0a0a0a;
  --colors-stone-50: #fafaf9;
  --colors-stone-100: #f5f5f4;
  --colors-stone-200: #e7e5e4;
  --colors-stone-300: #d6d3d1;
  --colors-stone-400: #a8a29e;
  --colors-stone-500: #78716c;
  --colors-stone-600: #57534e;
  --colors-stone-700: #44403c;
  --colors-stone-800: #292524;
  --colors-stone-900: #1c1917;
  --colors-stone-950: #0c0a09;
  --colors-red-50: #fef2f2;
  --colors-red-100: #fee2e2;
  --colors-red-200: #fecaca;
  --colors-red-300: #fca5a5;
  --colors-red-400: #f87171;
  --colors-red-500: #ef4444;
  --colors-red-600: #dc2626;
  --colors-red-700: #b91c1c;
  --colors-red-800: #991b1b;
  --colors-red-900: #7f1d1d;
  --colors-red-950: #450a0a;
  --colors-orange-50: #fff7ed;
  --colors-orange-100: #ffedd5;
  --colors-orange-200: #fed7aa;
  --colors-orange-300: #fdba74;
  --colors-orange-400: #fb923c;
  --colors-orange-500: #f97316;
  --colors-orange-600: #ea580c;
  --colors-orange-700: #c2410c;
  --colors-orange-800: #9a3412;
  --colors-orange-900: #7c2d12;
  --colors-orange-950: #431407;
  --colors-amber-50: #fffbeb;
  --colors-amber-100: #fef3c7;
  --colors-amber-200: #fde68a;
  --colors-amber-300: #fcd34d;
  --colors-amber-400: #fbbf24;
  --colors-amber-500: #f59e0b;
  --colors-amber-600: #d97706;
  --colors-amber-700: #b45309;
  --colors-amber-800: #92400e;
  --colors-amber-900: #78350f;
  --colors-amber-950: #451a03;
  --colors-yellow-50: #fefce8;
  --colors-yellow-100: #fef9c3;
  --colors-yellow-200: #fef08a;
  --colors-yellow-300: #fde047;
  --colors-yellow-400: #facc15;
  --colors-yellow-500: #eab308;
  --colors-yellow-600: #ca8a04;
  --colors-yellow-700: #a16207;
  --colors-yellow-800: #854d0e;
  --colors-yellow-900: #713f12;
  --colors-yellow-950: #422006;
  --colors-lime-50: #f7fee7;
  --colors-lime-100: #ecfccb;
  --colors-lime-200: #d9f99d;
  --colors-lime-300: #bef264;
  --colors-lime-400: #a3e635;
  --colors-lime-500: #84cc16;
  --colors-lime-600: #65a30d;
  --colors-lime-700: #4d7c0f;
  --colors-lime-800: #3f6212;
  --colors-lime-900: #365314;
  --colors-lime-950: #1a2e05;
  --colors-green-50: #f0fdf4;
  --colors-green-100: #dcfce7;
  --colors-green-200: #bbf7d0;
  --colors-green-300: #86efac;
  --colors-green-400: #4ade80;
  --colors-green-500: #22c55e;
  --colors-green-600: #16a34a;
  --colors-green-700: #15803d;
  --colors-green-800: #166534;
  --colors-green-900: #14532d;
  --colors-green-950: #052e16;
  --colors-emerald-50: #ecfdf5;
  --colors-emerald-100: #d1fae5;
  --colors-emerald-200: #a7f3d0;
  --colors-emerald-300: #6ee7b7;
  --colors-emerald-400: #34d399;
  --colors-emerald-500: #10b981;
  --colors-emerald-600: #059669;
  --colors-emerald-700: #047857;
  --colors-emerald-800: #065f46;
  --colors-emerald-900: #064e3b;
  --colors-emerald-950: #022c22;
  --colors-teal-50: #f0fdfa;
  --colors-teal-100: #ccfbf1;
  --colors-teal-200: #99f6e4;
  --colors-teal-300: #5eead4;
  --colors-teal-400: #2dd4bf;
  --colors-teal-500: #14b8a6;
  --colors-teal-600: #0d9488;
  --colors-teal-700: #0f766e;
  --colors-teal-800: #115e59;
  --colors-teal-900: #134e4a;
  --colors-teal-950: #042f2e;
  --colors-cyan-50: #ecfeff;
  --colors-cyan-100: #cffafe;
  --colors-cyan-200: #a5f3fc;
  --colors-cyan-300: #67e8f9;
  --colors-cyan-400: #22d3ee;
  --colors-cyan-500: #06b6d4;
  --colors-cyan-600: #0891b2;
  --colors-cyan-700: #0e7490;
  --colors-cyan-800: #155e75;
  --colors-cyan-900: #164e63;
  --colors-cyan-950: #083344;
  --colors-sky-50: #f0f9ff;
  --colors-sky-100: #e0f2fe;
  --colors-sky-200: #bae6fd;
  --colors-sky-300: #7dd3fc;
  --colors-sky-400: #38bdf8;
  --colors-sky-500: #0ea5e9;
  --colors-sky-600: #0284c7;
  --colors-sky-700: #0369a1;
  --colors-sky-800: #075985;
  --colors-sky-900: #0c4a6e;
  --colors-sky-950: #082f49;
  --colors-blue-50: #eff6ff;
  --colors-blue-100: #dbeafe;
  --colors-blue-200: #bfdbfe;
  --colors-blue-300: #93c5fd;
  --colors-blue-400: #60a5fa;
  --colors-blue-500: #3b82f6;
  --colors-blue-600: #2563eb;
  --colors-blue-700: #1d4ed8;
  --colors-blue-800: #1e40af;
  --colors-blue-900: #1e3a8a;
  --colors-blue-950: #172554;
  --colors-indigo-50: #eef2ff;
  --colors-indigo-100: #e0e7ff;
  --colors-indigo-200: #c7d2fe;
  --colors-indigo-300: #a5b4fc;
  --colors-indigo-400: #818cf8;
  --colors-indigo-500: #6366f1;
  --colors-indigo-600: #4f46e5;
  --colors-indigo-700: #4338ca;
  --colors-indigo-800: #3730a3;
  --colors-indigo-900: #312e81;
  --colors-indigo-950: #1e1b4b;
  --colors-violet-50: #f5f3ff;
  --colors-violet-100: #ede9fe;
  --colors-violet-200: #ddd6fe;
  --colors-violet-300: #c4b5fd;
  --colors-violet-400: #a78bfa;
  --colors-violet-500: #8b5cf6;
  --colors-violet-600: #7c3aed;
  --colors-violet-700: #6d28d9;
  --colors-violet-800: #5b21b6;
  --colors-violet-900: #4c1d95;
  --colors-violet-950: #2e1065;
  --colors-purple-50: #faf5ff;
  --colors-purple-100: #f3e8ff;
  --colors-purple-200: #e9d5ff;
  --colors-purple-300: #d8b4fe;
  --colors-purple-400: #c084fc;
  --colors-purple-500: #a855f7;
  --colors-purple-600: #9333ea;
  --colors-purple-700: #7e22ce;
  --colors-purple-800: #6b21a8;
  --colors-purple-900: #581c87;
  --colors-purple-950: #3b0764;
  --colors-fuchsia-50: #fdf4ff;
  --colors-fuchsia-100: #fae8ff;
  --colors-fuchsia-200: #f5d0fe;
  --colors-fuchsia-300: #f0abfc;
  --colors-fuchsia-400: #e879f9;
  --colors-fuchsia-500: #d946ef;
  --colors-fuchsia-600: #c026d3;
  --colors-fuchsia-700: #a21caf;
  --colors-fuchsia-800: #86198f;
  --colors-fuchsia-900: #701a75;
  --colors-fuchsia-950: #4a044e;
  --colors-pink-50: #fdf2f8;
  --colors-pink-100: #fce7f3;
  --colors-pink-200: #fbcfe8;
  --colors-pink-300: #f9a8d4;
  --colors-pink-400: #f472b6;
  --colors-pink-500: #ec4899;
  --colors-pink-600: #db2777;
  --colors-pink-700: #be185d;
  --colors-pink-800: #9d174d;
  --colors-pink-900: #831843;
  --colors-pink-950: #500724;
  --colors-rose-50: #fff1f2;
  --colors-rose-100: #ffe4e6;
  --colors-rose-200: #fecdd3;
  --colors-rose-300: #fda4af;
  --colors-rose-400: #fb7185;
  --colors-rose-500: #f43f5e;
  --colors-rose-600: #e11d48;
  --colors-rose-700: #be123c;
  --colors-rose-800: #9f1239;
  --colors-rose-900: #881337;
  --colors-rose-950: #4c0519;

  /* --- RADIUS --- */
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-full: 9999px;

  /* --- SPACING --- */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-28: 112px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-72: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-px: 1px;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --spacing-3-5: 14px;

  /* --- FONTSIZE --- */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;
  --font-size-6xl: 60px;
  --font-size-7xl: 72px;
  --font-size-8xl: 96px;
  --font-size-9xl: 128px;

  /* --- FONTWEIGHT --- */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* --- LINEHEIGHT --- */
  --line-height-3: 12px;
  --line-height-4: 16px;
  --line-height-5: 20px;
  --line-height-6: 24px;
  --line-height-7: 28px;
  --line-height-8: 32px;
  --line-height-9: 36px;
  --line-height-10: 40px;
  --line-height-none: 12px;
  --line-height-tight: 16px;
  --line-height-snug: 20px;
  --line-height-normal: 24px;
  --line-height-relaxed: 28px;
  --line-height-loose: 32px;

  /* --- LETTERSPACING --- */
  --letter-spacing-tighter: -1px;
  --letter-spacing-tight: -0.5px;
  --letter-spacing-normal: 0px;
  --letter-spacing-wide: 0.5px;
  --letter-spacing-wider: 1px;
  --letter-spacing-widest: 2px;

  /* --- OPACITY --- */
  --opacity-0: 0;
  --opacity-5: 0.05;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-25: 0.25;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-75: 0.75;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-95: 0.95;
  --opacity-100: 1;

  /* --- ZINDEX --- */
  --z-index-0: 0;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;
  --z-index-auto: auto;

  /* --- SHADOWS --- */
  --shadows-sm-shadow-color: #000;
  --shadows-sm-shadow-offset-width: 0;
  --shadows-sm-shadow-offset-height: 1;
  --shadows-sm-shadow-opacity: 0.05;
  --shadows-sm-shadow-radius: 2;
  --shadows-sm-elevation: 1;
  --shadows-md-shadow-color: #000;
  --shadows-md-shadow-offset-width: 0;
  --shadows-md-shadow-offset-height: 4;
  --shadows-md-shadow-opacity: 0.1;
  --shadows-md-shadow-radius: 6;
  --shadows-md-elevation: 4;
  --shadows-lg-shadow-color: #000;
  --shadows-lg-shadow-offset-width: 0;
  --shadows-lg-shadow-offset-height: 10;
  --shadows-lg-shadow-opacity: 0.15;
  --shadows-lg-shadow-radius: 20;
  --shadows-lg-elevation: 8;

  /* --- BREAKPOINTS --- */
  --breakpoints-sm: 640;
  --breakpoints-md: 768;
  --breakpoints-lg: 1024;
  --breakpoints-xl: 1280;
  --breakpoints-2xl: 1536;

  /* --- ASPECTRATIO --- */
  --aspect-ratio-square: 1;
  --aspect-ratio-video: 1.7777777777777777;
  --aspect-ratio-golden: 1.618;

  /* --- BORDERWIDTH --- */
  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  --border-width: 1px;

  /* --- TRANSITIONDURATION --- */
  --transition-duration-75: 75ms;
  --transition-duration-100: 100ms;
  --transition-duration-150: 150ms;
  --transition-duration-200: 200ms;
  --transition-duration-300: 300ms;
  --transition-duration-500: 500ms;
  --transition-duration-700: 700ms;
  --transition-duration-1000: 1000ms;

}